/** Add css rules here for your application. */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.tableCalc {
	border: solid 1px #ddd;
	border-radius: 15px;
	margin: 0 auto;
	padding: 20px 30px;
	background: #f6f6f6;
	box-shadow: 2px 2px 2px 0 #ccc;
}

.result {
	border: solid 1px #aaf;
	padding: 10px;
	width: 100%;
}

.btn {
	border: solid 2px #f00;
	width: 100%;
	border: none;
	background-image: none;
}

.opBtn {
	border: none !important;
}

.serverResponseLabelError {
	color: red;
}

h1 {
	font-family: Arial, sans-serif;
	color: #666;
	font-size: 30px !important;
	text-align: center;
	margin: 20px !important
}